@charset "utf-8";
/* CSS Document */

.fu_product_arrow_silder {
	width: 794px;
	height: 300px;
	position: relative;
	overflow: hidden;
}
.fu_product_arrow_silder ul, .fu_product_arrow_silder ul li {
}
.prev {
	background:url(../images/icon_01l.png) no-repeat;
	width: 40px;
	height: 30px;
	position:absolute;
	left: -40px;	/* 先藏在左邊 */
	top: 150px;		/* (區塊高-圖片高) / 2 */
	z-index: 100;
}
.next {
	background:url(../images/icon_02r.png) no-repeat;
	width:40px;
	height: 30px;
	position: absolute;
	right: -40px;	/* 先藏在右邊 */
	top: 150px;		/* (區塊高-圖片高) / 2 */
	z-index:100;
}
.fu_product_arrow_silder ul li {
	position: absolute;
	z-index: 1;
}
.fu_product_arrow_silder ul li.selected {
	z-index: 99;
}
a img {
	border: none;
}
